# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Pytest
.pytest_cache/

# IDE / Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db